<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hellow World - Input Form</title>
  </head>
  <body>
    <p> Pesquisa Por Curso: 
      <!-- <form action="#" th:action="@{/estudante/processaFormCurso}" method="GET">
        <input type="radio" id="BTI" name="curso" value="BTI">
        <label for="BTI">BTI</label>
        <input type="radio" id="EngSoft" name="curso" value="EngSoft">
        <label for="EngSoft">EngSoft</label>
        <input type="radio" id="EngComp" name="curso" value="EngComp">
        <label for="EngComp">EngComp</label>
        <input type="submit" title="Enviar" />
      </form> -->
      <form action="#" th:action="@{/estudante/processaFormCurso}" th:object="${estudante}" method="GET">
        <select th:field="*{curso}">
          <option th:each="curso: *{cursos}" th:value="${curso}" th:text="${curso}">
        </select>
      <input type="submit" title="Enviar" />
      </form>
    </p>
    
    <p>Pesquisa por Linguagem de Programação: 
      <form action="#" th:action="@{/estudante/processaFormLinguagem}" method="GET">
        <input type="radio" id="Java" name="linguagem" value="Java">
        <label for="Java">Java</label>
        <input type="radio" id="C" name="linguagem" value="C">
        <label for="C">C</label>
        <input type="radio" id="Python" name="linguagem" value="Python">
        <label for="Python">Python</label>
        <input type="radio" id="Javascript" name="linguagem" value="Javascript">
        <label for="Javascript">Javascript</label>
        <input type="submit" title="Enviar" />
      </form>
    </p>
  </body>
</html>
