<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estudantes</title>
  </head>

  <body>
    <div th:each="curso : ${cursos}">
      <span th:text="'Estudantes Filtrados Pelo ' + ${curso} + ': '" />
      <ul>
        <li th:each="estudante : ${estudantesCurso.get(curso)}">
          <span
            th:text="${estudante.id}+' '+${estudante.primeiroNome} +' '+ ${estudante.ultimoNome} + ' - Curso:  ' + ${estudante.curso} "
          />
          <a th:href="@{detalhes/{id}(id=${estudante.id})}">Detalhes</a>
          <a th:href="@{deletar/{id}(id=${estudante.id})}">Excluir</a>
        </li>
      </ul>
    </div>
    <span th:text="'Quantidade Total de Alunos Filtrados: ' + ${quantCursos}" />
    <br /><br />
    <a href="getListaEstudantes">Ver lista de estudantes</a><br />
    <a href="showForm">Formulário de estudantes</a><br />
  </body>
</html>
