<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estudantes</title>
  </head>

  <body>
    <p>Liguagem Favorita Java:</p>
    <ul>
      <li th:each="estudante : ${estudantesJava}">
        <span
          th:text="${estudante.id}+' '+${estudante.primeiroNome} +' '+ ${estudante.ultimoNome} + ' - Curso:  ' + ${estudante.curso} "
        />
        <a th:href="@{detalhes/{id}(id=${estudante.id})}">Detalhes</a>
        <a th:href="@{deletar/{id}(id=${estudante.id})}">Excluir</a>
      </li>
    </ul>
    <br /><br />
    <p>Liguagem Favorita C:</p>
    <ul>
      <li th:each="estudante : ${estudantesC}">
        <span
          th:text="${estudante.id}+' '+${estudante.primeiroNome} +' '+ ${estudante.ultimoNome} + ' - Curso:  ' + ${estudante.curso} "
        />
        <a th:href="@{detalhes/{id}(id=${estudante.id})}">Detalhes</a>
        <a th:href="@{deletar/{id}(id=${estudante.id})}">Excluir</a>
      </li>
    </ul>
    <br /><br />
    <p>Liguagem Favorita Python:</p>
    <ul>
      <li th:each="estudante : ${estudantesPython}">
        <span
          th:text="${estudante.id}+' '+${estudante.primeiroNome} +' '+ ${estudante.ultimoNome} + ' - Curso:  ' + ${estudante.curso} "
        />
        <a th:href="@{detalhes/{id}(id=${estudante.id})}">Detalhes</a>
        <a th:href="@{deletar/{id}(id=${estudante.id})}">Excluir</a>
      </li>
    </ul>
    <br /><br />
    <p>Liguagem Favorita Javascript:</p>
    <ul>
      <li th:each="estudante : ${estudantesJavascript}">
        <span
          th:text="${estudante.id}+' '+${estudante.primeiroNome} +' '+ ${estudante.ultimoNome} + ' - Curso:  ' + ${estudante.curso} "
        />
        <a th:href="@{detalhes/{id}(id=${estudante.id})}">Detalhes</a>
        <a th:href="@{deletar/{id}(id=${estudante.id})}">Excluir</a>
      </li>
    </ul>
    <span
      th:text="'Quantidade Total de Alunos Filtrados: ' + ${quantLinguagem}"
    />
    <br /><br />
    <a href="getListaEstudantes">Ver lista de estudantes</a><br />
    <a href="showForm">Formulário de estudantes</a><br />
  </body>
</html>
